services:
  postgres:
    image: ankane/pgvector:latest   # includes pgvector preinstalled
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    ports:
      - "5433:5432"
    volumes:
      - ./data:/var/lib/postgresql